# dependencies
*node_modules
/.pnp
.pnp.js

# testing
/coverage
.old/
.ignore*

# production
build/

# misc
.DS_Store
*.env
*.env.*
npm-debug.log*
.vscode/
images/_components/
src/media/_components/
*.psd
*.ai
*.db