.section {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin: 0 auto 5rem auto;
    padding: 1rem;
    max-width: 90rem;
    box-sizing: border-box;

    > :not(:last-child) {
        margin-right: 1rem;

        @media #{$media-900-w} { margin-right: 0; }
    }

    @media #{$media-900-w} {
        flex-flow: column;
        align-items: center;
    }
}

.project {
    display: flex;
    flex-flow: column;
    max-width: 50%;

    @media #{$media-900-w} {
        align-items: center;
        max-width: 100%;
    }

    &-title {
        margin: 0 0 0.5rem 0.3rem;
        font-size: 2em;

        @media #{$media-900-w} {
            margin-top: 0.5rem;
            text-align: center;
        }
    }

    &-desc {
        margin-bottom: 1rem;
        line-height: 1.7em;
        color: $white-2;

        @media #{$media-900-w} { text-align: center; }
    }

    &-skills {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        filter: grayscale(1);
        transition: 0.5s all ease-in-out;

        &:hover, .in-view & { filter: none; }

        .skill-icon {
            width: auto;
            height: 2rem;
            margin-bottom: 1.5rem;
            transition: inherit;

            &:not(:last-child) { margin-right: 1.5rem; }
        }
    }

    &-link {
        color: white;
        transition: 0.2s all ease-in-out;

        &:visited { color: white; }

        &:hover {
            color: $orange-3;

            .project-title::after { filter: $orange-2-svg; }
        }

        .project-title::after {
            content: "";
            display: inline-block;
            width: 0.7em;
            height: 0.7em;
            padding-left: 0.3em;
            background: url("../../media/link-icon.svg") right center no-repeat;
            filter: invert(1);
            transition: 0.2s all ease-in-out;
        }
    }

    .repo-link {
        padding: 0.3em 0.4em;
        border-radius: 6px;
        background-color: rgba($black-1, 0.6);
        color: $white-2;
        transition: all 0.1s ease-in-out;

        &:not(:last-of-type) { margin-right: 0.5rem; }

        &::before {
            content: "";
            padding-left: 1.5em;
            background: left center no-repeat;
            background-size: 1.15em;
            background-image: url("../../media/github.png");
            filter: invert(1);
        }

        &:hover {
            background-color: $black-1;
            color: $white-3;
        }
    }
}