::-webkit-scrollbar {
	width: 15px;
	height: 10px;
	background: $black-2;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
	background: $black-2;
}

::-webkit-scrollbar-thumb {
	min-height: 28px;
	background: $grey-1;
}

::-webkit-scrollbar-thumb:hover {
	background: $grey-2;
}