::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 0.8rem;
    background: rgba($black-2, 0.4);

    &-track, &-corner { background: transparent; }

    &-thumb {
        border-radius: 0.8rem;
        background: rgba($grey-1, 0.4);

        &:hover { background: rgba($black-3, 0.6); }
    }
}