html, body {
    margin: 0;
    min-height: 100vh;
    background-color: $theme-color;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.2s ease-in-out;

    @media #{$media-500-wh} { font-size: 14px; }
}

figure { margin: 0; }

table {
    border-collapse: collapse;
    font-weight: 400;
}

th, td { padding: 0.35em; }

.table-vert {
    tbody > tr > th { text-align: left; }

    &.right > tbody > tr {
        > th {
            text-align: right;
            padding-right: 0.5em;
        }

        > td { padding-left: 0.5em; }
    }
}

h1, h2, h3 { margin: 0.5rem 0; }

h4, h5, h6 { margin: 0 0 0.5rem 0; }

p, span { color: var(--foreground-color); }

p {
    margin: 0;
    font-weight: 400;
}

a {
    color: $red-3;
    text-decoration: none;
    transition: 0.1s all ease-in-out;

    &:visited { color: $red-3; }

    &:hover { color: $red-4; }
}

button {
    width: fit-content;
    float: left;
    padding: 0.5rem 1rem;
    margin: 0.4rem 0.3rem;
    border: none;
    border-radius: 3px;
    font-size: 1em;
    font-family: "Roboto";
    background-color: $blue-2;
    color: white;
    cursor: pointer;
    transition: all 0.2s;

    &:hover { background: $blue-3; }
}

.btn-hollow {
    width: fit-content;
    padding: 0.85rem 1rem;
    margin: 0.5rem 0;
    background: none;
    font-size: 16px;
    font-weight: 600;
    font-family: "Roboto";
    color: var(--foreground-color);
    border: 2px solid var(--foreground-color);
    border-radius: 0;

    &:focus { outline: none; }

    &:hover {
        border-radius: 3px;
        background-color: $theme-color;
        border-color: $theme-color;
        color: white;
    }
}

.text-btn {
    display: inline;
    color: $theme-color;
    cursor: pointer;
}

.invisible {
    visibility: hidden !important;
    transition: visibility 0s;
}

.hidden { display: none !important; }

.hidden-panel { opacity: 0; }

.relative { position: relative; }

.flex-end { align-self: flex-end; }

.a-center { align-items: center; }

.j-center { justify-content: center; }

.pad-ctn {
    &-1, &-2, &-3 { box-sizing: border-box; }

    &-1 { padding: 1rem; }

    &-2 { padding: 2rem; }

    &-3 { padding: 3rem; }

    &-2, &-3 {
        @media #{$media-500-wh} { padding: 1rem; }
    }
}

.full-width { width: 100% !important; }

.no-mgn { margin: 0 !important; }

.mgn-btm { margin-bottom: 0.3rem; }

// COLORS
.blue {
    &-1 {
        color: $blue-1;
        &-bg { background-color: $blue-1; }
    }

    &-2 {
        color: $blue-2;
        &-bg { background-color: $blue-2; }
        &-svg { filter: $blue-2-svg; }
    }

    &-3 {
        color: $blue-3;
        &-bg { background-color: $blue-3; }
    }
}

.green {
    &-1 {
        color: $green-1;
        &-bg { background-color: $green-1; }
        &-svg { filter: $green-1-svg; }
    }

    &-2 {
        color: $green-2;
        &-bg { background-color: $green-2; }
    }

    &-3 {
        color: $green-3;
        &-bg { background-color: $green-3; }
    }
}

.red {
    &-1 {
        color: $red-1;
        &-bg { background-color: $red-1; }
        &-svg { filter: $red-1-svg; }
    }

    &-2 {
        color: $red-2;
        &-bg { background-color: $red-2; }
        &-svg { filter: $red-2-svg; }
    }

    &-3 {
        color: $red-3;
        &-bg { background-color: $red-3; }
    }
}

.orange {
    &-1 {
        color: $orange-1;
        &-bg { background-color: $orange-1; }
    }

    &-2 {
        color: $orange-2;
        &-bg { background-color: $orange-2; }
        &-svg { filter: $orange-2-svg; }
    }

    &-3 {
        color: $orange-3;
        &-bg { background-color: $orange-3; }
    }
}

.purple {
    &-1 {
        color: $purple-1;
        &-bg { background-color: $purple-1; }
    }

    &-2 {
        color: $purple-2;
        &-bg { background-color: $purple-2; }
    }

    &-3 {
        color: $purple-3;
        &-bg { background-color: $purple-3; }
    }
}

.yellow {
    &-1 {
        color: $yellow-1;
        &-bg { background-color: $yellow-1; }
    }

    &-2 {
        color: $yellow-2;
        &-bg { background-color: $yellow-2; }
    }

    &-3 {
        color: $yellow-3;
        &-bg { background-color: $yellow-3; }
    }
}

// IMPORTS
@import "./components/form";
@import "./components/menu";
@import "./components/modal";
@import "./components/alert";